<main class="gss-main-wrapper">
        {% include "/includes/companies.njk" %}
    <article class="gss-history-wrapper">
        <section class="gss-history-item is-current">
            <section class="gss-svg-inline">
                <img class="svg" src="{{historiactive.iconow}}.svg" inline>
            </section>
            <section class="gss-history-item-contents-wrapper">
                <article class="gss-history-item-title">{{historiactive.title}}</article>
                <article class="gss-history-item-date">{{historiactive.date}}</article>
                <article class="gss-history-item-activity"><b>{{ historiactive.actividad }}:</b> {{historiactive.activity}}</article>
                <article class="gss-history-item-tools"><b>{{ historiactive.herramientas }}:</b> {{historiactive.tools}}</article>
            </section>
        </section>
        {% for historia in historias %}
            <article class="gss-history-item not-current">
                <section class="gss-svg-inline">
                    <img class="svg" src="{{historiactive.icon}}.svg" inline>
                </section>
                <section class="gss-history-item-contents-wrapper">
                    <article class="gss-history-item-title">{{historia.title}}</article>
                    <article class="gss-history-item-date">{{historia.date}}</article>
                    <article class="gss-history-item-activity"><b>{{ historiactive.actividad }}:</b> {{historia.activity}}</article>
                    <article class="gss-history-item-tools"><b>{{ historiactive.herramientas }}:</b> {{historia.tools}}</article>
                </section>
            </article>
        {% endfor %}
    </article>
</main>