<section class="gss-home-calltoaction-wrapper">
    <section class="gss-home-calltoaction-contents-wrapper">
        <section class="gss-home-calltoaction-contents-left">
            <article class="gss-home-calltoaction-title">
                {{ calltoaction.title }}
            </article>
            <article class="gss-home-calltoaction-subtitle">
                {{ calltoaction.subtitle }}
            </article>
            <article class="gss-calltoaction-minilinks">
                {% include "/includes/minilinks.njk" %}          
            </article>
        </section>
        <section class="gss-home-calltoaction-contents-right">
            <a href="{{ buttonurl }}" target="_blank">
                {{ calltoaction.buttontxt }}
            </a>
            </a>
        </section>
    </section>
</section>