<section class="gss-companies">
  {% for company in companies %}
      <img class="svg" src="{{ company.logo }}" inline>
  {% endfor %}
</section>
<div class="gss-companies-txts">{{ companiestxt }}</div>


