<section class="gss-featured-wrapper">
    <img class="svg" src="{{ featured.img }}" inline>
    <section class="gss-featured-txts-wrapper">
        <article class="gss-featured-title">
          LUME <span class="tag">{{ featured.tag }}</span>
        </article>
        <article class="gss-featured-description">
          <div class="featuredtxts">
            <p>{{ featured.description1 }} <a href="{{ featured.link1.url}}" target="_blank">{{ featured.link1.txt }}</a>.</p>
            <p>{{ featured.description2 }} <a href="{{ featured.link2.url}}" target="_blank">{{ featured.link2.txt }}</a>.</p>
            <p>{{ featured.description3 }}</p>
            <p>{{ featured.description4 }} {{ featured.product.name}} <a href="{{ featured.author.url }}" target="_blank"> {{ featured.author.name }}</a>.</p>
          </div>
          <div class="featuredbutton">
            <a class="butoninfo" href="{{ featured.product.url}}" target="_blank">{{ featured.button }}</a>
          </div>
        </article>
    </section>
</section>