<header class="gss-header">
  <section class="gss-header-inner-wrapper">
    <section class="gss-header-main-zone">
        <article class="gss-logo">
          <img class="svg" src="{{logo}}" inline></img>
        </article>
        <a href="#" onclick="return false;" id="gss-menu-responsive" class="gss-menu-responsive" aria-label="responsive menu">
          <img class="svg" src="{{menuicon}}" inline>
        </a>
        <nav id="gss-menu" class="gss-menu languages">
          <!-- Navegador--> 
          {% for page in search.pages("menu!=undefined lang=" + lang, "menu") %}
            <a class="btn" href="{{ page.url }}">{{ page.navitem }}</a>
          {% endfor %}
          <!-- Navegador--> 
        </nav>
    </section>
    <div class="gss-wrapper-translate-switch">
        <!-- Language switcher --> 
        <nav id="gss-menu-responsive-languages" class="gss-menu-languages-items">
        {% for alt in alternates %}
            <a class="btn" href="{{ alt.url }}" {% if alt.lang == lang %} aria-current="page" {% endif %}>
              {{ alt.lang }}
            </a>
        {% endfor %}
        </nav>
        <!-- Language switcher --> 
        <section id="gss-menu-languages-button" class="gss-menu-languages-button">
            <a href="#" onclick="return false;" class="translate" aria-label="languages">
              <img class="svg" src="{{translate.icon}}" inline>
            </a>
        </section>
      </div>
  </section>
</header>
<nav id="gss-dropdown" class="gss-dropdown">
  <!-- Menu responsive--> 
  <ul>
    <li>
        {% for page in search.pages("menu!=undefined lang=" + lang, "menu") %}
          <a class="btn" href="{{ page.url }}">{{ page.navitem }}</a>
        {% endfor %}
    </li>
  </ul>
  <!-- Menu responsive --> 
</nav>

