<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Guille Reimunde">
<meta name="title" content="Guille Reimunde">
<meta name="description" content="{{ metas.description }}">
<meta name="keywords" content="{{ metas.keywords }}">

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Guille Reimunde">
<meta itemprop="description" content="{{ metas.description }}">
<meta itemprop="image" content="https://www.kille.es/img/logo-facebook-560x292.jpg">
<meta name="google-site-verification" content="Th-9KzbgoWVj_mmhzHlRfGbcdRHu4uianJZizauFoXo" />

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.kille.es/"/>
<meta property="og:type" content="website" />
<meta property="og:title" content="Guille Reimunde" />
<meta property="og:description" content="{{ metas.description }}">
<meta property="og:image" content="https://www.kille.es/img/logo-facebook-560x292.jpg" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Guille Reimunde">
<meta name="twitter:description" content="{{ metas.description }}">
<meta name="twitter:image" content="https://www.kille.es/img/logo-facebook-560x292.jpg">