<section class="gss-minilinks">
    {% for svgicon in svgicons %}
        <article class="gss-svg-inline">
            <a href="{{svgicon.url}}" target="_blank" rel="noopener" aria-label="tools">
                <img class="svg" src="{{svgicon.icon}}.svg" inline>
            </a>
        </article>
    {% endfor %}
</section>