<section class="gss-footer-icons-menu">
    {% for footerbutton in footerbuttons %}
    <article class="gss-svg-inline">
        <a href="{{footerbutton.url}}" target="_blank" rel="noopener" aria-label="social">
            <img class="svg" src="{{footerbutton.icon}}" inline>
        </a>
    </article>
    {% endfor %}
</section>