<!DOCTYPE html>
<html lang="{{ alt.lang }}">
<head>
    <title>{{title}}</title>
    {% include "/includes/metas.njk" %}
    {% include "/includes/css.njk" %}
</head>
<body>
    {% include "/includes/header.njk" %}
    {{ content | safe }}
    {% include "/includes/footer.njk" %}
    {% include "/includes/scripts.njk" %}
</body>
</html>