:root {
  color-scheme: light dark; /* both supported */
  --font: -apple-system, system-ui, sans-serif;
  --border-radius: 8px;
  --transparency: .7;
  --transparency-dark: .6;
  --transparency-xdark: .5;
  --transition: .8s ease all;
  --bounce-easing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
  --padding: 16px 20px;
  --body-width: 80%;
  --body-font-size: 1.2rem;
  --body-line-height: 1.4;
  --header-height: 64px;
  --main-wrappers-height: 74px;
  --main-wrappers-height-plus: 84px;
  --titles-font-size: 1.4rem;
  --titles-color: rgba(255,255,255,.7);

  --tools-width: 300px;
  --tools-height: 400px;
  --tools-button-position: flex-end;

  --z-index: 2000;
  --z-index-lottie: 0;
  --lottie-background-opacity: .1;

  // Isotope
  --grid-item-width: 300px;
  --grid-item-height: 150px;

  //Modal
  --overlay: rgba(0, 0, 0, 0.8);
  --modal-width: 1280px;
  --modal-height: 80vh;
  --modal-img-column-width: 350px;
}


@media (prefers-color-scheme: light) {
  [class="light"] {
    --surface: #ffffff;
    --surface-variant: #0F1C33;
    --surface-container-lowest: #fff;
    --on-surface: #222222;
    --on-surface-variant: #ffffff;
    --primary: #0F1C33;
    --primary-rgba: 15,28,51;
    --secondary: #666666;
    --tertiary: #CCCCCC;
    --gray: #CCCCCC;
    --gray-light: #eeeeee;
    
    --txts: rgba(0,0,0,.6);
    --txts-variant: rgba(0,0,0,.5);
    --txts-on-surface: #fff;
    --txts-on-surface-variant: rgba(255,255,255,.7);
    --txts-on-surface-variant-high: var(--primary-rgba);
    --txts-shadow: none;

    --home-icon: #ccc;
    --home-title: var(--primary);
    --home-desc: #666;
    --history-icon: #ccc;
    --tools-icon: var(--primary);
    --txts-title: var(--primary);
    --txts-date: rgba(0,0,0,.4);
    --txts-activity-b: #222222;
    --txts-activity: var(--primary);
    --txts-tools-b: rgba(0,0,0,.5);
    --txts-tools: rgba(0,0,0,.4);
    --minilinks-icon: #ccc;
    --minilinks-icon-hover: var(--primary);
    
    --header-bg: var(--surface);
    --header-shadow: 0 1px 5px rgba(102,102,102,.7);
    --footer-shadow: 0 1px 7px rgba(102,102,102,.7);
    
    --button-txt: var(--primary);
    --menu-button-txt: #666;
    --menu-button-txt-active: var(--primary);
    --menu-button-txt-hover: rgba(var(--secondary), var(--transparency));
    --menu-bg: #fff;
    --menu-active: #fff;
    --menu-active-bg: var(--primary);
    --menu-active-bg-hover: #eee;
    
    --card-description: rgba(var(--on-surface));
    --card-button-hover: rgba(var(--primary-rgba), var(--transparency));
    --card-background: transparent;
    --card-shadow: 0 0px 4px rgba(64,64,64,.5);
    --card-shadow-hover: 0 0px 10px rgba(102,102,102,.7);
    --line: rgba(0,0,0,.2);
    
  }
}


@media (prefers-color-scheme: dark) {
  [class="dark"] {
    --surface: #222222;
    --surface-variant: #111111;
    --surface-container-lowest: #242424;
    --on-surface: #ffffff;
    --on-surface-variant: #ffffff;
    --primary: #ffffff;
    --primary-rgba: 255,255,255;
    --secondary: rgba(var(--primary-rgba), var(--transparency));
    --tertiary: var(--on-surface);
    --gray: #CCCCCC;
    --gray-light: #595959;

    --txts: rgba(255,255,255,.6);
    --txts-variant: rgba(255,255,255,.5);
    --txts-on-surface: #fff;
    --txts-on-surface-variant: rgba(255,255,255,.7);
    --txts-on-surface-variant-high: rgba(255,255,255,.8);
    --txts-shadow: #fff 0px 0 12px;

    --home-icon: rgba(255,255,255,.4);
    --home-title: rgba(255,255,255,.7);
    --home-desc: rgba(255,255,255,.5);
    --history-icon: #ccc;
    --tools-icon: #ccc;
    --txts-title: #ccc;
    --txts-date: rgba(255,255,255,.3);
    --txts-activity-b: #595959;
    --txts-activity: rgba(255,255,255,.7);
    --txts-tools-b: rgba(255,255,255,.4);
    --txts-tools: rgba(255,255,255,.3);
    --minilinks-icon: rgba(255,255,255,.3);
    --minilinks-icon-hover:#fff;

    --header-bg: var(--surface);
    --header-shadow: 0 1px 5px rgba(0,0,0,.7);
    --footer-shadow: 0 1px 7px rgba(0,0,0,.7);

    --button-txt: #222222;
    --menu-button-txt: rgba(255,255,255,.7);
    --menu-button-txt-active: var(--on-surface);
    --menu-button-txt-hover: #CCCCCC;
    --menu-bg: #454545;
    --menu-active: #fff;
    --menu-active-bg: #222222;
    --menu-active-bg-hover: #595959;

    --card-description: rgba(var(--on-surface));
    --card-button-hover: rgba(var(--primary-rgba), var(--transparency));
    --card-background: transparent;
    --card-shadow: 0 0px 4px rgba(255,255,255,.2);
    --card-shadow-hover: 0 0px 10px rgba(102,102,102,.7);
    --line: rgba(255,255,255,.1);
    
  }
}



