<main class="gss-main-wrapper">
    <article class="gss-home-wrapper">
        <section class="gss-home-welcome-group">
            <picture class="gss-home-welcome-img">
                <source media="(prefers-color-scheme: dark)" srcset="{{ imagendark }}">
                <img alt="Guille" src="{{ imagen }}">
            </picture>
            <article class="gss-home-title-wrapper">
                <div class="gss-home-title">{{ hello }}</div>
                <div class="gss-home-title-name">{{ name }}</div>
            </article>
            <article class="gss-home-subtitle">{{ subtitle }}</article>
            <div class="gss-line"></div>
            <article class="gss-home-subtitle2">{{ subtitle2 }}</article>
        </section>
        <section class="gss-home-benefits-wrapper">
            {% for benefit in benefits %}
                <section class="gss-home-benefit">
                    <div class="gss-benefit-icon">
                        <img src="{{ benefit.img }}.svg" inline />
                    </div>
                    <article class="gss-benefit-txt-wrapper">
                        <div class="gss-benefit-title">{{benefit.title}}</div>
                        <div class="gss-benefit-description">{{benefit.description}}</div>
                    </article>
                </section>
            {% endfor %}
        </section>
    </article>
    {% include "/includes/calltoaction.njk" %}
</main>