@import 'variables.scss';
@import 'modules/media.scss';
@import 'modules/header.scss';
@import 'modules/menus.scss';
@import 'modules/home.scss';
@import 'modules/switch.scss';
@import 'modules/minilinks.scss';
@import 'modules/calltoaction.scss';
@import 'modules/tools.scss';
@import 'modules/history.scss';
@import 'modules/footer.scss';
@import 'modules/featured.scss';
@import 'modules/companies.scss';

a {
    outline: none;

    &:focus {
        outline: none !important;
        outline: 0 none !important;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    margin:0;
    background: var(--surface);
    font-family: var(--font);
}
.gss-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.visible {
    display: flex;
}
.hidden {
    display: none;
}