<main class="gss-main-wrapper">
    <article class="gss-tools-intro">{{ toolsintro }}</article>
    {% include "/includes/minilinks.njk" %}
    {% include "/includes/featured.njk" %}
    <section class="gss-tools-wrapper">
        {% for tool in tools %}
            <a class="gss-card" href="{{tool.url}}" target="_blank">
                <section class="gss-card-txt-wrapper">
                    <section class="gss-card-title-logo">
                        <article class="gss-card-title">
                            {{tool.title}}
                        </article>
                        <article class="gss-card-img">
                            <img class="svg" src="{{tool.img}}.svg" inline />
                        </article>
                    </section>
                    <article class="gss-card-description">
                        {{tool.description}}
                    </article>
                    <section class="gss-card-footer-buttons">
                        <article class="gss-button-txt" href="{{tool.url}}">{{butxt}}</article>
                    </section>
                </section>
            </a>
        {% endfor %}
    </section>
</main>