.gss-home-calltoaction-wrapper {
    z-index: var(--z-index);
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    background: var(--surface-variant);
    @media (max-width: $width-xlarge) {
        width: 100%;
    }

    & .gss-home-calltoaction-contents-wrapper {
        display: flex;
        align-items: center;
        width: var(--body-width);
        margin: 24px 10px;
        @media (max-width: $width-xlarge) {
            width: 100%;
            flex-direction: column;
            align-items: center;
            margin: 24px 24px 48px 24px;
        }
        & .gss-home-calltoaction-contents-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 100%;

            & .gss-home-calltoaction-title {
                max-width: 100%;
                font-size: 2rem;
                color: var(--txts-on-surface);
                padding: 0px;
                @media (max-width: $width-xlarge) {
                    text-align: center;
                    padding:10px;
                }
            }
            & .gss-home-calltoaction-subtitle {
                max-width: 100%;
                font-size: 1.2rem;
                color: var(--txts-on-surface-variant);
                padding: 10px 0px 24px 0px;
                @media (max-width: $width-xlarge) {
                    text-align: center;
                }
            }
        }

        & .gss-home-calltoaction-contents-right {
            display: flex;
            align-items: center;
            padding: 48px 10px 48px 48px;
            @media (max-width: $width-xlarge) {
                padding: 10px;
            }
            
            & a {
                display: block;
                align-items: center;
                justify-content: center;
                max-width: 200px;
                padding: 16px;
                white-space: nowrap;
                background: var(--on-surface-variant);
                border-radius: 8px;
                font-size: 1rem;
                color: var(--button-txt);
                text-transform: uppercase;
                font-weight: bold;
                text-decoration: none;
                @media (max-width: $width-xlarge) {
                    margin: 24px 0px 0px 0px;
                }
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}