.gss-companies-txts {
  text-align: center;
  font-size: var(--body-font-size);
  margin: 20px;
  line-height: var(--body-line-height);
  color: var(--txts-activity);
  
  & b {
    color: var(--on-surface);
  }
}
.gss-companies {
  padding-top: 64px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-variant);
  margin: 0 16px;
  
  & svg {
    height: 50px;
    max-width: 120px;
    margin: 16px;
    fill: #ffffff80;
    
    @media (max-width: $width-xsmall) {
      height: 20px;
      max-width: 80px;
      margin: 2px 0;
      padding: 8px;
    }
  }
}