.gss-featured-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 20px 60px;
  padding: 40px 16px;
  background: var(--surface-variant);

  @media (max-width: $width-small) {
    flex-direction: column;
  }

  & svg {
    min-width: 150px;
    min-height: 150px;

    @media (max-width: $width-small) {
      align-self: center;
    }

  }

  & .gss-featured-txts-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-top: 32px;
    
    @media (max-width: $width-xsmall) {
      margin-left: 0px;
      width: 100%;
      justify-content: space-between;
    }

    & .gss-featured-title {
      display: flex;
      color: var(--txts-on-surface);
      font-size: 2rem;
      margin-bottom: 16px;
      font-weight: bold;
      line-height: 1;
      
      & .tag {
        display: flex;
        align-items: center;
        margin-left: 16px;
        border: 2px solid var(--txts-on-surface);
        color: var(--txts-on-surface);
        padding: 0px 16px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 25px;
      }

      @media (max-width: $width-small) {
        align-self: center;
        margin-top: 16px;
      }
    }
    & .gss-featured-description {
      display: flex;
      flex-direction: column;
      font-size: var(--body-font-size);
      color: var(--card-description);
      line-height: var(--body-line-height);

      @media (max-width: $width-small) {
        width: 100%;
        margin-top: 16px;
      }

      & .featuredtxts { 
        margin-bottom: 6px;
        
        & p {
          margin: 0;
          padding: 0;
          margin-block-start: 0;
          margin-block-end: 0;
          color: var(--txts-on-surface-variant);

          & b {
            color: var(--gray);
          }
          
          & a {
            color: var(--txts-on-surface);
            text-decoration: none;
            font-weight: 600;

            &:hover {
                opacity: 0.7;
            }
          }
        }
      }

      & .featuredbutton {
        align-self: flex-start;

        @media (max-width: $width-small) {
          align-self: center;
        }
        
        & a.butoninfo {
          display: flex;
          margin-top: 16px;
          align-items: center;
          justify-content: center;
          padding: 8px 16px;
          white-space: nowrap;
          background: var(--on-surface-variant);
          border-radius: 8px;
          font-size: 1rem;
          color: var(--button-txt);
          text-transform: uppercase;
          font-weight: bold;
          text-decoration: none;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}