.gss-footer {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    background: var(--header-bg);
    align-items:center;
    box-shadow: var(--footer-shadow);
    bottom: 0;

    & .gss-footer-inner-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    & .gss-footer-icons-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        & .gss-svg-inline {
            display: flex;
            & a {
                height: 25px;
                width: 100%;
                padding: 16px 12px ;
                & svg {
                    height: 25px;
                        & path {
                            fill: var(--gray);
                        }
                }
                &:hover {
                    & svg {
                        & path {
                            fill: var(--primary);
                        }
                    }
                }
            }
        }
        @media (max-width: $width-xsmall) {
            justify-content: center;
        }
    }
}