.gss-header {
    height: var(--header-height);
    display: flex;
    justify-content: center;
    width:100%;
    position: fixed;
    z-index: 10;
    top:0;
    margin: 0;
    padding: 0;
    align-items: center;
    box-shadow: var(--header-shadow);
    background: var(--header-bg);
}

.gss-header-inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--body-width);
    max-width: 100%;
    margin: 0;
    padding: var(--padding);
    
    @media (max-width: $width-xlarge) {
        width: 100%;
    }
}
.gss-header-main-zone {
    display: flex;
    align-items: center;
    
    @media (max-width: $width) {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .gss-logo svg {
        width: 20px;
        height: 20px;
        padding: 8px;
        margin-top: 3px;

        @media (max-width: $width) {
            // display: none;
        }
    }
}