.gss-history-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    max-width: 1024px;

    @media (max-width: $width-xlarge) {
        width: 100%;
    }

    & .gss-history-item {
        display: flex;
        padding: 16px;
        margin: 16px;
        border-radius: 8px;
        margin: 0px 16px 0px 16px;

       &.is-current {
            padding: 24px;
            background: var(--card-background);
            border-radius: 8px;
            box-shadow: var(--card-shadow);
            margin-bottom: 8px;
        }
        
        &.not-current {
            padding: 24px;
            border-bottom: 1px solid var(--line);
            border-radius: 0px;
            
            &:last-child {
                border-bottom: none;
            }
        }
    
        @media (max-width: $width-small) {
            flex-direction: column;
        }

        & .gss-svg-inline {
            height: 100%;

            & svg {
                width: 40px;
                height: 40px;
                margin: -7px 16px 0px 0px;
                & path {
                    fill: var(--history-icon);
                }
            }
            @media (max-width: $width-small) {
                display: none;
            }
        }
        & .gss-history-item-contents-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & .gss-history-item-title {
                color: var(--txts-title);
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.1;
                margin-bottom: 4px;
            }
            & .gss-history-item-date {
                margin-bottom: 16px;
                font-size: 1rem;
                font-weight: 600;
                color: var(--txts-date);
            }
        
            & .gss-history-item-activity {
                margin-bottom: 4px;
                font-size: var(--body-font-size);
                line-height: var(--body-line-height);
                color: var(--txts-activity);

                & b {
                    color: var(--txts-activity-b);
                }
            }
            & .gss-history-item-tools {
                font-size: var(--body-font-size);
                line-height: var(--body-line-height);
                color: var(--txts-tools);
                font-size: .95rem;

                & b {
                    color: var(--txts-tools-b);
                }
            }
        }
    }
}