.gss-home-wrapper {
    margin-top: var(--main-wrappers-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--body-width);
    // z-index: var(--z-index);
    
    @media (max-width: $width-xlarge) {
        width: 100%;
    }
    
    & .gss-home-welcome-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 24px;
        
        & .gss-home-welcome-img {
            width:150px;
            height: 150px;
            border-radius: 50%;
            border: 4px solid var(--gray-light);
            z-index:1;

            & img {
                width:150px;
                height: 150px; 
                border-radius: 50%;
            }
        }

        @media (max-width: $width-xsmall) {
            padding: 10px 10px 24px 10px;
        }
        
        & .gss-home-title-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 24px;
            text-align: center;

            @media (max-width: $width) {
                flex-direction: column;
            }
            
            & .gss-home-title {
                padding:0px;
                font-size: 2.2rem;
                color: var(--txts-variant);
                line-height: 1.2;
                padding: 0  8px 0 0;
                @media (max-width: $width-xsmall) {
                    font-size: 1.8rem;
                    padding: 0px;
                }
            }
            & .gss-home-title-name {
                padding:0px;
                font-size: 2.2rem;
                color: var(--txts-on-surface-variant-high);
                line-height: 1.2;
                @media (max-width: $width-xsmall) {
                    font-size: 1.9rem;
                }
            }
        }
        & .gss-home-subtitle {
            font-size: 2rem;
            color: var(--txts-variant);
            text-align: center;
            line-height: 1.2;
            @media (max-width: $width-xsmall) {
                font-size: 1.5rem;
            }
        }
        & .gss-line {
            align-self: center;
            width: 50px;
            padding: 10px;
            border-bottom: 1px solid var(--gray);
            text-align: center;
        }
        & .gss-home-subtitle2 {
            margin-top: 16px;
            font-size: 1.3rem;
            color: var(--txts-variant);
            text-align: center;
            line-height: 1.2;
            
            @media (max-width: $width-xsmall) {
                max-width: 100%;
                padding: 0 8px;
            }
        }
    }
    
    & .gss-home-benefits-wrapper {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
        margin: 32px 0;

        @media (max-width: $width-large) {
            margin: 0px;
        }

        & .gss-home-benefit {
            display: flex;
            align-items: flex-start;
            max-width: 350px;
            padding: 16px;
            @media (max-width: $width-large) {
                max-width: unset;
                width: 100%;
                // flex-direction: column;
                // justify-content: center;
            }

            & .gss-benefit-icon {
                max-width: 40px;
                margin-right: 16px;

                & svg {
                    width: 42px;
                    height: 42px;
                    margin-top: -9px;
                }
                & path {
                    fill: var(--home-icon);
                }
                @media (max-width: $width-xsmall) {
                    margin-right: 0px;
                    margin-top: 10px;
                    // display: none;
                    // text-align: center;
                    // width: 100%;
                }
            }

            & .gss-benefit-txt-wrapper {
                display: flex;
                flex-direction: column;
                & .gss-benefit-title {
                    font-size: 1.4rem;
                    line-height: 1.2;
                    font-weight: 500;
                    color: var(--home-title);
                    padding: 0 0 10px 0;
                    letter-spacing: -0.2px;
                }
                & .gss-benefit-description {
                    font-size: var(--body-font-size);
                    color: var(--txts);
                    line-height: var(--body-line-height);
                    padding: 0 0 10px 0;
                }
                @media (max-width: $width-xsmall) {
                    // text-align: center;
                    margin-left: 14px;
                    margin-top: 8px;
                }
            }
        }
    }
}
