.gss-menu {
    display: flex;
    top:0;
    flex-wrap: wrap;
    list-style-type: none;
    line-height: 1;
    padding: 0;
    left: 0;
    z-index: 2;
    margin-left: 8px;
    
    @media (max-width: $width) {
        display: none;
    }

    & .btn {
        display: flex;
        visibility: visible;
        padding: 0 0px 0 0;
        font-size:16px;
        font-weight: 600;
        color: var(--menu-button-txt);
        background-color: unset;
        text-decoration: none;
        text-transform: uppercase;
        margin: px;
        border: none;
        cursor: pointer;
        border-radius: 8px;
        padding: 16px 10px;
    
        &:hover {
            color: var(--menu-button-txt-hover);
        }
        &.active {
            color: var(--primary);
            text-shadow: var(--txts-shadow);
        }
    }
}
.gss-dropdown {
    display: none;
    visibility: visible;
    height: auto;
    top:0;
    flex-wrap: wrap;
    list-style-type: none;
    line-height: 1;
    padding: 0;
    left: 0;
    z-index: 2;
    margin-left: 8px;
    
    @media (min-width: $width) {
        height: 0px;
        visibility: hidden;
    }
}
.is-responsive {
    display: flex;
    height: auto;
    visibility: visible;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    margin-top: 56px;
    background: var(--menu-bg);
    padding: 16px 0px 8px 0px;
    min-width: 200px;
    height: auto;
    box-shadow: var(--header-shadow);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    transition: all 0.4s cubic-bezier(0.5, 1.8, 0.9, 0.8);
    -webkit-transition: all 0.4s cubic-bezier(0.5, 1.8, 0.9, 0.8);
    -moz-transition: all 0.4s cubic-bezier(0.5, 1.8, 0.9, 0.8);
    -o-transition: all 0.4s cubic-bezier(0.5, 1.8, 0.9, 0.8);
    -ms-transition: all 0.4s cubic-bezier(0.5, 1.8, 0.9, 0.8);
    
    @media (min-width: $width) {
        display: none;
        height: 0px;
        visibility: hidden;
    }
    & ul {
        display: block;
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px!important;
        padding: 0;

        & li {
            list-style-type: none;
        }
    }
    & .btn {
        display: flex;
        visibility: visible;
        padding: 0 10px 0 0;
        font-size:16px;
        font-weight: 600;
        color: var(--menu-button-txt);
        background-color: unset;
        text-decoration: none;
        text-transform: uppercase;
        margin: 4px 10px;
        border: none;
        cursor: pointer;
        border-radius: 8px;
        padding: 16px 10px;
    
        &:hover {
            color: var(--menu-button-txt);
            background-color: var(--menu-active-bg-hover);
        }
        &.active {
            background-color: var(--menu-active-bg);
            color: var(--menu-active);
        }
    }
}
.gss-menu-responsive {
    display: none;
    visibility: hidden;
    cursor: pointer;

    @media (max-width: $width) {
        display: flex;
        visibility: visible;
    }            
    & svg {
        width: 20px;
        height: 20px;
        padding: 8px;
        & path {
            fill: var(--primary);
        }
    }

    &:hover {
        & svg {
            & path {
                fill: var(--tertiary);
            }
        }
    }
}

.gss-menu-languages-button {
    display: flex;
    visibility: visible;

    & a {
        width: 30px;
        height: 30px;
        cursor: pointer;

        & svg {
            width: 30px;
            height: 30px;
            & path {
                fill: var(--gray);
            }
        }
        &:hover {
            & svg {
                & path {
                    fill: var(--primary);
                }
            }
        }
    }
}
.gss-menu-languages-items {
    display: none;
    visibility: hidden;
    position: relative;
    z-index: 150;
    margin-right: 8px;
    right: 0;
    text-decoration: none;

    & .btn {
        display: flex;
        visibility: visible;
        padding: 0 0px 0 0;
        font-size:16px;
        font-weight: 600;
        color: var(--menu-button-txt);
        background-color: unset;
        text-decoration: none;
        text-transform: uppercase;
        margin: px;
        border: none;
        cursor: pointer;
        border-radius: 8px;
        padding: 16px 10px;
    
        &:hover {
            color: var(--menu-button-txt-hover);
        }
        &.active {
            color: var(--primary);
            text-shadow: var(--txts-shadow);
        }
    }
}

.are-languages {
    display: flex;
    visibility: visible;
    width: auto;
}