.gss-minilinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @media (max-width: $width-xlarge) {
        justify-content: center;
        flex-wrap: wrap;
    }

    & .gss-svg-inline {
        & a {
            height: 100%;
            margin: 0 4px;
            & svg {
                width: 30px;
                height: 30px;
                margin: 8px;
                & path {
                    fill: var(--minilinks-icon);
                }
            }
        }
        &:hover {
            & svg {
                & path {
                    fill: var(--minilinks-icon-hover);
                }
            }
        }
    }
}