.gss-wrapper-translate-switch {
    display: flex;
    align-items: center;

    & .switch {
        background: var(--primary);
        display: flex;
        border-radius: 1000px;
        border: none;
        cursor: pointer;
        outline: none!important;
        position: relative;
        outline: none;
        
        &.dm {
            background: none;
            border: 1px solid var(--txts-white);

            & .gss-switch-button {
                right: 0;
                left: unset;
            }
        }
        
        & .gss-switch-button {
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            background: var(--on-surface);
            left:0px;
            border: 0;
            right: unset;
            border-radius: 100px;
            box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
            cursor: pointer;
        }
        & .img {
            align-self: auto;
            width: 30px;
            height: 30px;
            display: block;
            background: none;
            & svg {
                & path {
                    fill: var(--on-surface);
                }
            }
        }
    }
}