.gss-tools-intro {
    margin-top: var(--main-wrappers-height-plus);
    margin-bottom: 16px;
    padding: 0 24px;
    font-size: 24px;
    color: var(--txts-variant);
    text-align: center;
}
.gss-tools-wrapper {
    // z-index: var(--z-index);
    width: var(--body-width);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 20px 0px;

    @media (max-width: $width-xlarge) {
        width: 100%;
        margin: 10px 0px;
    }
    & .gss-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: var(--tools-width);
        height: var(--tools-height);
        font-size: 26px;
        margin: 10px 10px;
        padding: 20px;
        background: var(--card-background);
        border-radius: 8px;
        box-shadow: var(--card-shadow);
        text-decoration: none;

        @media (max-width: $width-xxlarge) {
            width: 100%;
            height: auto;
            margin: 20px 20px;
        }
        @media (max-width: $width-small) {
            padding: 0px;
        }
        & a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:left;
        }
        &:hover {
            box-shadow: var(--card-shadow-hover);
            cursor: pointer;
        }
        & .gss-card-txt-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            
            & .gss-card-title-logo {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100px;
                
                & .gss-card-title {
                    margin: 0px 24px 8px 20px;
                    font-size: 1.5rem;
                    color: var(--txts-title);
                    font-weight: 500;                    
                }
                & .gss-card-img {
                    display: flex;
                    justify-content: center;
                    
                    & svg {
                        height: 50px;
                        align-self: center;
                        margin: 10px 20px 20px 0;
                        color: var(--primary);
                        & path {
                            fill: var(--tools-icon);
                        }
                    }
                }
            }
            & .gss-card-description {
                padding: 0px 20px 24px 20px;
                font-size: var(--body-font-size);
                color: var(--txts-variant);
                line-height: var(--body-line-height);

                & b {
                    color: var(--gray);
                }
            }
            & .gss-card-footer-buttons {
                display: flex;
                margin: 0 24px 10px 0px;
                justify-content: flex-end;
                height: 100%;
                align-items: var(--tools-button-position);

                @media (max-width: $width-small) {
                    margin: 0 24px 24px 0px;
                }
    
                & .gss-button-txt {
                    font-size: 1.1rem;
                    font-weight: 500;
                    color: var(--primary);
                    font-size: 1rem;
                    text-decoration: none;
                    text-transform: uppercase;
        
                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }
    }
}